img{
    height: 50px;
    float: right;
    display: block;
    margin:10px;
}

span{
    float: right;
    display: block;
    margin:20px;
}

button{
    float: left;
    display: block;
    border-radius: 5px;
    background-color: lightblue;
    height: 30px;
    margin-top: 20px;
    margin-left: 4px;
}
